.product-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 100vh;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-column-actions {
  text-align: center;
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
