.custom-properties {
    margin-top: 1rem;

    .custom-properties-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}
